<!DOCTYPE html>
<html lang="sv" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Kino - Uppsala</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="Kino - Uppsala">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Kino">
  <meta property="og:description"
    content="Kino biograf i Uppsala - filmer idag,kommande filmer, bistro och evenemang, Av filmälskare för filmälskare">
  <meta property="og:locale" content="sv_SE">
  <meta property="og:url" content="https://reposbyhussam.github.io/kino-page/">
  <meta property="og:image" content="https://reposbyhussam.github.io/kino-page/src/pics/KINO-arc.webp">
  <meta property="og:image:alt" content="Kino-entré med upplyst KINO-skylt.">
  <!--Roboto Google font-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css">
  <script type="module" src="/scripts/main.js"></script>
</head>

<body>
  <header class="header">
    <!--HEADER MENU SECTION-->
    <div class="header__content">
      <a href="/">
        <img class="header__img" src="/pics/KINO-logo.png" alt="Logo" />
      </a>
      <nav class="main-nav">
        <ul>
          {{#each menu}}
          <li class='{{#if (eq id ../currentPage)}}active{{/if}}'>
            <a href='{{path}}'>{{label}} </a>
          </li>
          {{/each}}
        </ul>
      </nav>
    </div>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer class="footer">
    <section class="footer__submenu-section">
      <p class="footer__submenu-heading">Filmer idag</p>
      <ul class="footer__submenu-list">
        <li class="footer__submenu-item"><a href="#">För över 18 år</a></li>
        <li class="footer__submenu-item"><a href="#">För hela familjen</a></li>
      </ul>
    </section>

    <section class="footer__submenu-section">
      <p class="footer__submenu-heading">Kommande</p>
      <ul class="footer__submenu-list">
        <li class="footer__submenu-item"><a href="#">För över 18 år</a></li>
        <li class="footer__submenu-item"><a href="#">För hela familjen</a></li>
      </ul>
    </section>

    <section class="footer__submenu-section">
      <p class="footer__submenu-heading">På bio</p>
      <ul class="footer__submenu-list">
        <li class="footer__submenu-item"><a href="bistro">Bistro och mat</a></li>
        <li class="footer__submenu-item"><a href="event">Evenemang</a></li>
      </ul>
    </section>

    <section class="footer__submenu-section">
      <p class="footer__submenu-heading">Mer</p>
      <ul class="footer__submenu-list">
        <li class="footer__submenu-item"><a href="about">Om oss</a></li>
        <li class="footer__submenu-item"><a href="#">Boka salen</a></li>
        <li class="footer__submenu-item"><a href="#">Jobba hos oss</a></li>
        <li class="footer__submenu-item"><a href="#">Köpa presentkort</a></li>
      </ul>
    </section>
    </nav>
    <div class="footer__content">
      <div class="footer__contact">
        <p class="footer__contact-item">
          <a href="contact.html" class="footer__link">Kontakta oss</a>
        </p>
        <p class="footer__contact-item">
          Telefon: <a href="tel:+18-XXXXX" class="footer__link">018-XXXXX</a>
        </p>
        <p class="footer__contact-item">Adress: XXXXX, Uppsala</p>
      </div>
      <div class="footer__social-media">
        <p class="footer__social-text">Följ oss:</p>
        <a class="footer__social-icon" href="#" aria-label="Follow us on Instagram">
          <img src="/pics/instagram-brands-solid-full.svg" alt="Instagram Icon" class="footer__social-icon-img"
            width="40" height="40" />
        </a>
        <a class="footer__social-icon" href="#" aria-label="Follow us on Twitter">
          <img src="/pics/x-twitter-brands-solid-full.svg" alt="Twitter Icon" class="footer__social-icon-img" width="40"
            height="40" />
        </a>
      </div>
    </div>
  </footer>
</body>

</html>