<main class="main">
  <!--MAIN img-->
  <!-- <img class="main__img" src="src/pics/KINO-screen-main.webp" alt="Kino biograf sal"> -->
  <section class="main__video">
    <div class="main__video__container">
      <video class="main__img" loop autoplay muted playsinline poster="/pics/KINO_hall_preview.jpg"
        onclick="this.paused ? this.play() : this.pause();">
        <source src="/pics/videoKINO_cinema_hall.webm" type="video/webm">
        <source src="/pics/videoKINO_empty_cinema_hall.mp4" type="video/mp4">
      </video>
    </div>
  </section>
  <!--FILMS TODAY SECTION FOR CARDS-->
  <section class="main__filmsToday">
    <h2 class="main__filmsContainer__heading">Filmer idag</h2>

    <div class="main__filmsContainer">
      <article class="card movieCard">
        <h3 class="movieCard__title">Film namn</h3>
        <p class="movieCard__item"><strong>Genre:</strong> fantasy</p>
        <p class="movieCard__item"><strong>Tid:</strong> 90 min</p>
        <p class="movieCard__item"><strong>Åldersgräns:</strong> 13 år +</p>
        <p class="movieCard__item"><strong>När:</strong> 3 februari - 20 maj</p>
        <p class="movieCard__item"><strong>Beskrivning:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Assumenda, iure.</p>
        <img src="/pics/KINO-movie-poster.webp" class="movieCard__img" alt="film poster">
        <button class="btn btn--secondary movieCard__button">Läs mer</button>
        <button class="btn btn-menu--one movieCard__button">Boka</button>
      </article>

      <article class="card movieCard">
        <h3 class="movieCard__title">Film namn</h3>
        <p class="movieCard__item"><strong>Genre:</strong> fantasy</p>
        <p class="movieCard__item"><strong>Tid:</strong> 90 min</p>
        <p class="movieCard__item"><strong>Åldersgräns:</strong> 13 år +</p>
        <p class="movieCard__item"><strong>När:</strong> 3 februari - 20 maj</p>
        <p class="movieCard__item"><strong>Beskrivning:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Assumenda, iure.</p>
        <img src="/pics/KINO-movie-poster.webp" class="movieCard__img" alt="film poster">
        <button class="btn btn--secondary movieCard__button">Läs mer</button>
        <button class="btn btn-menu--one movieCard__button">Boka</button>
      </article>

      <article class="card movieCard">
        <h3 class="movieCard__title">Film namn</h3>
        <p class="movieCard__item"><strong>Genre:</strong> fantasy</p>
        <p class="movieCard__item"><strong>Tid:</strong> 90 min</p>
        <p class="movieCard__item"><strong>Åldersgräns:</strong> 13 år +</p>
        <p class="movieCard__item"><strong>När:</strong> 3 februari - 20 maj</p>
        <p class="movieCard__item"><strong>Beskrivning:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Assumenda, iure.</p>
        <img src="/pics/KINO-movie-poster.webp" class="movieCard__img" alt="film poster">
        <button class="btn btn--secondary movieCard__button">Läs mer</button>
        <button class="btn btn-menu--one movieCard__button">Boka</button>
      </article>
    </div>


    <a href="#" class="btn btn--primary" title="Alla aktuella filmer">Alla aktuella filmer</a>
  </section>


  <!--WELCOME SECTION-->
  <div class="main__welcome">
    <h2 class="main__welcome__title">Välkommenn till KINO i Uppsala!</h2>
    <p class="main__welcome__moto">Av filmälskare - för film älskare</p>

    <div class="main__welcome__container">
      <div class="main__welcome__item">
        <img class="main__welcome__img" src="/pics/KINO-arc.webp" alt="Kino lysande båge">
        <a href="about" class="btn btn--secondary" title="Mer om oss">Mer om oss</a>
      </div>

      <div class="main__welcome__item">
        <img class="main__welcome__img" src="/pics/KINO-bistro.webp" alt="Kino bistro" />
        <a href="bistro" data-route="./bistro.html" class="btn btn--secondary" title="Till bistro">Till
          bistro</a>
      </div>

      <div class="main__welcome__item">
        <img class="main__welcome__img" src="/pics/KINO-cinemahall-seats.webp" alt="Kino biograf sal med bord" />
        <a href="#" class="btn btn--secondary" title="Boka salen">Boka salen</a>
      </div>

      <div class="main__welcome__item">
        <img class="main__welcome__img" src="/pics/KINO-street.webp" alt="Kino utsikt från gatan" />
        <a href="event" class="btn btn--secondary" title="Evenemang hos oss">Evenemang hos oss</a>
      </div>
    </div>
  </div>

  <!--UPCOMING FILMS SECTION FOR CARDS-->
  <section class="main__filmsUpcoming">
    <h2 class="main__filmsUpcoming__heading">Kommande filmer</h2>

    <div class="main__filmsContainer">
      <article class="card movieCard">
        <h3 class="movieCard__title">Film namn</h3>
        <p class="movieCard__item"><strong>Genre:</strong> fantasy</p>
        <p class="movieCard__item"><strong>Tid:</strong> 120 min</p>
        <p class="movieCard__item"><strong>Åldersgräns:</strong> 11 år +</p>
        <p class="movieCard__item"><strong>Premiär:</strong> 1 februari</p>
        <p class="movieCard__item">
          <strong>Beskrivning:</strong> Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Assumenda, iure.
        </p>
        <img src="/pics/KINO-movie-poster.webp" class="movieCard__img" alt="film poster" />
        <button class="btn btn--secondary movieCard__button">
          Läs mer
        </button>
        <button class="btn btn-menu--one movieCard__button">Boka</button>
      </article>

      <article class="card movieCard">
        <h3 class="movieCard__title">Film namn</h3>
        <p class="movieCard__item"><strong>Genre:</strong> fantasy</p>
        <p class="movieCard__item"><strong>Tid:</strong> 120 min</p>
        <p class="movieCard__item"><strong>Åldersgräns:</strong> 11 år +</p>
        <p class="movieCard__item"><strong>Premiär:</strong> 1 februari</p>
        <p class="movieCard__item">
          <strong>Beskrivning:</strong> Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Assumenda, iure.
        </p>
        <img src="/pics/KINO-movie-poster.webp" class="movieCard__img" alt="film poster" />
        <button class="btn btn--secondary movieCard__button">
          Läs mer
        </button>
        <button class="btn btn-menu--one movieCard__button">Boka</button>
      </article>

      <article class="card movieCard">
        <h3 class="movieCard__title">Film namn</h3>
        <p class="movieCard__item"><strong>Genre:</strong> fantasy</p>
        <p class="movieCard__item"><strong>Tid:</strong> 120 min</p>
        <p class="movieCard__item"><strong>Åldersgräns:</strong> 11 år +</p>
        <p class="movieCard__item"><strong>Premiär:</strong> 1 februari</p>
        <p class="movieCard__item">
          <strong>Beskrivning:</strong> Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Assumenda, iure.
        </p>
        <img src="/pics/KINO-movie-poster.webp" class="movieCard__img" alt="film poster" />
        <button class="btn btn--secondary movieCard__button">
          Läs mer
        </button>
        <button class="btn btn-menu--one movieCard__button">Boka</button>
      </article>
    </div>

    <a href="#" class="btn btn--primary" title="Alla kommande filmer">Alla kommande filmer</a>
  </section>
</main>