@use 'variables' as *;
@use 'components';

.about {

    &__hero {
        position: relative;
    }

    &__hero-img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__hero-title {
        position: absolute;
        transform: translateY(-70px);
        padding-left: 1em;
        color: white;
        font-size: 1.8rem;

        @media (min-width: $bp-medium) {
            font-size: 2.5rem;
            transform: translateY(-100px);
        }
    }

    &__intro {
        background-color: $color-background-light;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__intro-title {
        font-size: 2rem;
        text-align: center;
        padding-top: 0.8rem;

        @media (min-width: $bp-medium) {
            margin-bottom: 1rem;
            padding-top: 1rem;
        }
    }

    &__intro-text {
        text-align: center;
        font-size: 0.8rem;
        margin: 0 2rem;
        padding-bottom: 3rem;

        @media (min-width: $bp-medium) {
            font-size: 1em;
            padding-bottom: 5rem;
        }


        @media (min-width: $bp-desktop) {
            max-width: 70%;
        }
    }

    &__opening-grid {
        @media (min-width: $bp-medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            justify-content: center;
        }
    }

    &__opening-hours {
        background-color: $color-background-dark;
        padding: 4rem 2rem;
    }

    &__hours-title {
        font-size: 2rem;
        color: white;
        margin-bottom: 4rem;
        text-align: center;

        @media (min-width: $bp-medium) {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__cinema-title,
    &__bistro-title {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__cinema-hours-list {
        color: white;
        list-style: none;
        padding: 0 0 4rem;
        line-height: 1.7;
    }

    &__bistro-hours-list {
        color: white;
        list-style: none;
        padding: 0;
        line-height: 1.7;
    }

    &__cinema-img,
    &__bistro-img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1.5rem;
    }

    &__bistro {
        background-color: $color-background-light;
    }

    &__bistro-section-title {
        font-size: 2rem;
        text-align: center;
        color: #821818;
        font-weight: bold;
        padding: 2rem 0 1rem;
    }

    &__bistro-img {
        width: 100%;
        height: auto;

        @media (min-width: $bp-medium) {
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding-bottom: 3rem;
        }
    }

    &__bistro-text {
        text-align: center;
        padding: 0 2rem;

        @media (min-width: $bp-medium) {
            max-width: 60%;
            margin: 0 auto;
            padding-bottom: 1.5rem;
        }
    }

    &__btn-section {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 2rem 4rem;
    }

    &__se-meny,
    &__boka-bord {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 6rem;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    &__faq {
        padding: 2rem 2rem;
        background-color: $color-background-light;
    }

    &__faq-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__faq-item {
        border: 1px solid #ccc;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    &__faq-question {
        cursor: pointer;
        font-weight: bold;
        list-style: none;
    }

    &__faq-answer {
        margin-top: 1rem;
        line-height: 1.6;
    }

}