@use 'variables' as var;
@use 'components';

@mixin link-base-styles {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: var.$font-main;
}

h2 {
    color: var.$color-btn-menu;
}

.header {
    background-color: var.$color-background-dark;
    height: 9rem;
    margin: 0;
}

.main {
    background-color: var.$color-background-light;
    color: var.$color-background-dark;
    font-size: 1.5rem;

    //main img and video of cinema hall
    &__img {
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;

        @media screen and (min-width: var.$bp-medium) {
            max-height: 15rem;
            object-fit: cover;
            object-position: center;
        }

        @media screen and (min-width: var.$bp-desktop) {
            max-height: 30rem;
        }
    }

    &__video__container {
        width: 100%;
    }

    //Movie-card
    .card {
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;
        max-width: 300px;
        background-color: var.$color-background-light;
        border: solid grey 1px;
        border-radius: 0.5rem;
        overflow: hidden;
        margin: 1rem;
        box-shadow: 0 0.2rem 0.5rem rgba(74, 35, 35, 0.8);
        font-family: var.$font-main;
        box-sizing: border-box;
        padding: 0.5em;

        @media screen and (min-width: var.$bp-medium) {
            max-width: 380px;
        }
    }

    .movieCard {
        &__title {
            color: var.$color-btn-menu;
            text-align: center;
            margin: 0.5rem;
        }

        &__item {
            color: var.$color-background-dark;
            padding: 0.5rem;
            margin: 0;
        }

        &__img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 1em auto;
        }

        &__button {
            align-self: center;
            width: 50%;
            height: 2.5em;
            margin-block: 0.5em;
        }
    }


    //Movie cards containers
    &__filmsToday,
    &__filmsUpcoming {
        display: flex;
        flex-direction: column;

        & h2,
        a {
            align-self: center;
        }

    }

    &__filmsContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 0;
        width: 100vw;
        user-select: none;
        overflow-x: scroll;
        cursor: grab;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &:active {
            cursor: grabbing;
        }

        &::before,
        &::after {
            content: '';
            flex: 0 0 2rem;
        }
    }


    //WELCOME-section with greeting, moto and 4 picutres
    &__welcome {
        background-color: var.$color-background-dark;
        color: var.$color-red-heading;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0;
        margin-block: 2rem;
        text-align: center;

        &__title {
            text-transform: uppercase;
            color: var.$color-red-heading;
        }

        &__moto {
            color: var.$color-btn-green;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 1rem;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 18rem;
        }

        &__img {
            width: 100%;
            height: 18rem;
            object-fit: cover;
            padding: 1rem;
        }

        @media screen and (min-width: var.$bp-medium) {
            &__container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                max-width: 100%;
            }

            &__item {
                max-width: 100%;
            }

            &__img {
                width: 15rem;
                height: 15rem;
            }
        }

        @media screen and (min-width: var.$bp-desktop) {
            &__container {
                padding: 2rem 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                max-width: 100%;
                justify-content: space-evenly;
            }

            &__item {
                flex: 0 0 calc(25% - 1rem);
                min-width: 12rem;
            }

            &__img {
                width: 12rem;
                height: 12rem;
            }

            .btn--secondary {
                max-width: 12rem;
            }
        }
    }
}