@use 'variables' as var;
@use 'components';

@mixin link-base-styles {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: var.$font-main;
}

h2 {
    color: var.$color-btn-menu;
}

.header {
    background-color: var.$color-background-dark;
    height: 9rem;
    margin: 0;
}

.main {
    background-color: var.$color-background-light;
    color: var.$color-background-dark;
    font-size: 1.5rem;

    //main img and video of cinema hall
    &__img {
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;

        @media screen and (min-width: var.$bp-medium) {
            max-height: 15rem;
            object-fit: cover;
            object-position: center;
        }

        @media screen and (min-width: var.$bp-desktop) {
            max-height: 20rem;
        }
    }

    &__video__container {
        width: 100%;
    }



    //WELCOME-section with greeting, moto and 4 picutres
    &__welcome {
        background-color: var.$color-background-dark;
        color: var.$color-red-heading;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0;
        margin-block: 2rem;
        text-align: center;

        &__title {
            text-transform: uppercase;
            color: var.$color-red-heading;
        }

        &__moto {
            color: var.$color-btn-green;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 1rem;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 18rem;
        }

        &__img {
            width: 100%;
            height: 18rem;
            object-fit: cover;
            padding: 1rem;
        }

        @media screen and (min-width: var.$bp-medium) {
            &__container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                max-width: 100%;
            }

            &__item {
                max-width: 100%;
            }

            &__img {
                width: 15rem;
                height: 15rem;
            }
        }

        @media screen and (min-width: var.$bp-desktop) {
            &__container {
                padding: 2rem 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                max-width: 100%;
                justify-content: space-evenly;
            }

            &__item {
                flex: 0 0 calc(25% - 1rem);
                min-width: 12rem;
            }

            &__img {
                width: 12rem;
                height: 12rem;
            }

            .btn--secondary {
                max-width: 12rem;
            }
        }
    }
}

.footer {
    background-color: var.$color-background-dark;
    height: 9rem;
    margin: 0;
}