@use 'variables' as var;
@use 'components';

.events__toStartPage {
  text-decoration: none;
  color: navajowhite;
  cursor: pointer;
  font-family: var.$font-main;
  font-size: 1rem;
}

.events {
  background-color: black;
  display: flex;
  flex-direction: column;

  &__hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

    }
  }

  &__hero-text {
    position: absolute;
    color: navajowhite;
    font-family: var.$font-main;
    font-size: 2.5rem;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}