@use 'variables' as var;
@use 'components';

.events__toStartPage {
  text-decoration: none;
  color: #cf9696;
  cursor: pointer;
  font-family: var.$font-main;
  font-size: 1rem;
}

.events {
  background-color: black;
  display: flex;
  flex-direction: column;

  &__hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

    }
  }

  &__hero-text {
    position: absolute;
    color: #cf9696;
    text-shadow: 2px 2px 2px black;
    font-family: var.$font-main;
    font-size: 2.5rem;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.events__popular {
  display: flex;
  flex-direction: column;

  &-headline {
    font-size: 2rem;
    font-family: var.$font-main;
    font-weight: bold;
    color: #cf9696;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.events__popular-list {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem;

  overflow-x: auto;
  padding-bottom: 1rem;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.event-card {
  display: flex;
  flex: 0 0 100%;
  max-width: 350px;
  flex-direction: column;
  background-color: #2a1c1a;
  border: solid grey 1px;
  border-radius: 0.5rem;
  overflow: hidden;

  &__headline {
    font-family: var.$font-main;
    color: #cf9696;
    text-align: center;
    padding: 0px;
    margin: 1rem 0 0 0;
  }

  &__image {
    display: block;
    width: 85%;
    margin: 1rem auto;
    object-fit: cover;
    height: 12rem;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 70%;
    margin-left: -1.25rem;
  }

  &__button {
    width: 30%;
    height: 2.5rem;
    flex-shrink: 0;
    margin-left: -0.7rem;
    margin-top: 3rem;
    color: white;
    background-color: #821818;
    font-size: 1rem;
    cursor: pointer;
  }
}

.events__moreBtn {
  text-decoration: none;
  color: #f3543b;
  border: 3px solid #f3543b;
  border-radius: 10px;
  width: 6rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.events__upcoming {
  display: flex;
  flex-direction: column;

  &-headline {
    font-size: 2rem;
    font-family: var.$font-main;
    font-weight: bold;
    color: #cf9696;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.events__upcoming-list {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem;

  overflow-x: auto;
  padding-bottom: 1rem;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

