@use 'variables' as var;
@use 'components';

.footer {
  background-color: var.$color-background-dark;
  padding: 1.825rem;
  text-align: center;

  &__content {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
  }

  &__contact-item {
    color: var.$color-red-heading;
    margin: 0.3rem 0;
    font-size: 1rem;

    & .footer__link {
      color: var.$color-red-heading;
      text-decoration: none;
    }
  }

  &__social-text {
    color: var.$color-red-heading;
    display: inline-block;
    margin-bottom: 1.2rem;
    font-size: 1rem;
  }

  &__social-media {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    align-items: center;

    &__icon-img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @media screen and (min-width: var.$bp-medium) {
    &__content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__contact {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
    }

    &__contact-item {
      font-size: 1.05rem;
      margin: 0 1rem;
    }

    &__social-media {
      gap: 0.75rem;
    }

    &__social-text {
      font-size: 1.05rem;
      margin-bottom: 1rem;
      align-self: center;
    }
  }

  @media screen and (min-width: var.$bp-desktop) {
    &__content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__contact {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &__contact-item {
      margin: 0 1rem;
      font-size: 1.2rem;
    }

    &__social-media {
      gap: 1rem;
    }

    &__social-text {
      margin: 0 0 0 3rem;
      font-size: 1.2rem;
      align-self: center;
    }
  }
}
