//All global variables, like color, spacing, fonts etc

$color-red-heading: #f3543b;
$color-background-dark: #151313;
$color-background-light: #fbfbfa;
$color-btn-menu: #821818;
$color-btn-menu-hover: #B67272;
$color-btn-green: #9cc177;
$color-btn-green-hover: #c5f198;

$font-main: 'Roboto', sans-serif;

$bp-medium: 768px;
$bp-desktop: 900px;