//All global variables, like color, spacing, fonts etc

$color-red-heading: #f3543b;
$color-background-dark: #151313;
$color-background-light: #fbfbfa;
$color-btn-menu: #821818;
$color-btn-menu-hover: #B67272;
$color-btn-green: #9cc177;
$color-btn-green-hover: #c5f198;

$font-main: 'Roboto', sans-serif;
$bp-tablet-small: 600px;
$bp-medium: 768px;
$bp-desktop: 900px;
$bp-desktop-l: 1090px;
$bp-desktop-xl: 1280px;
$bp-desktop-full-menu: 1460px;
$bp-desktop-full-menu2: 1620px;

