//main sass file, use command run npm sass in terminal to compile changes to main.scss

@use "variables";
@use "components";
@use "body-startpage";
@use "event-page";
@use "contact";
@use "about-us";
@use "footer";
@use "bistro";
@use "header";
